body {
	min-height: 100vh;
}
.content {
	margin: 2rem auto;
}
.h-70vh {
	height: 70vh;
}
.circle {
	display: flex;
	width: fit-content;
	align-items: center;
	aspect-ratio: 1 / 1;
	border-radius: 100% !important;
}
.floating {
	right: 10px;
	bottom: 10px;
}
.reguler {
	border-top-width: 5px !important;
	border-top-color: var(--bs-primary)!important;
}